* {
  box-sizing: border-box;
}
 
 .row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .col-s-0 {width: 0.00%;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  div.shark{display:none;}
  div.shark2{display:none;}
  div.chicken{left:0px;}
   div.food-product{top:0px;}
   div.description{display:none;}
}
 @media screen and (max-width: 1000px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  div.shark{display:none;}
  div.shark2{display:none;}
 div.chicken{left:0px;}
 div.food-product{top:0px;}
 }



.Header{
  position:relative;
  background-color: grey;
  text-align: center;
  color: white;
  padding:5px;
  font-size: 40px;
  width:100%;
  }

.shark{
position: absolute; 
right:0px;
top:-50px;
}

.shark2{
position: absolute; 
transform: rotateY(180deg);	
top:-50px;
}

.clear-button {
  border: none;
  padding: 20px;
  margin-left:100px;
  margin-right:100px;
  background: none;
  font-size: 30px; 
}

.menu{
text-align:right;
background-color:#f6f6f6;
margin-top:-20px;
}

.footer{
padding:20px;
overflow: auto;
background-color: grey;
text-align: right;}

.clear-button-footer{
 color:white;
  border: none;
  padding: 0px;
  margin-left:70px;
  margin-right:70px;
  background: none;
  font-size: 20px; 
}

.clear-button-dropdown {
  border: none;
  padding: 20px;
  background: none;
  font-size: 35px;
  position:relative;  
}

.dropdown-aisles {
   position: absolute;
  text-align:left;
   
}

.diff-aisles-dropdown {
 background-color:grey;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:-20px;
}

.diff-aisles-dropdown a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display:block;
}

.dropdown-button{
  border: none;
  background: none;
  text-align:left;
  font-weight:bold;
}

.aisle-pic{
	padding-top:10 px;
	margin:20px;

}
.aisle-writing{
  position:absolute;
  font-size: 50px;
  font-weight:bold;
  left:750px;
  top:250px;
  max-width:40%;
}
.savings-writing{
  position:absolute;
  font-size: 50px;
  font-weight:bold;
  
	
}
.savings-pic{
  padding-top:10 px;
	margin:20px;

}
.gallery{
	width:100%;
	display:inline-block;
	position:relative;
	overflow:hidden;
}

.aisle-name-p2{
background-color: grey;
padding:10px;
text-align: center;
color: white;
}
  .clear-button-products {
  width:60%;
  border: none;
  padding: 10px;
  background: none;
  font-size: 15px; 
}

.products{
	max-width:100%;
	padding:0px;
}
.container{
  background-color:rgba(0, 0, 0, 0.03);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 20%;
  margin: 15px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  object-fit: contain;
  overflow: hidden;
}

.foodcontainer{
  width:100%;
  max-width: 100%;
  margin: 15px;
  padding: 0px;
  display: inline-block;
  object-fit: contain;
  overflow: hidden;
}
.food-product {
	
	position:relative;
	display: inline-block;
	max-width:40%;
	float:right;
	position:absolute;
	padding:-10px;
}

.chicken{	
position:relative;
}

#chickenb{
	position: relative;
	max-width:50%;
	display: inline-block;
}

#footer-chicken{
overflow: auto;
background-color: grey;
text-align: right;
padding:10px;}
	
	
}
.description{	
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown-aisles:hover .diff-aisles-dropdown {display: block;}

.dropdown-aisles:hover .clear-button-dropdown 

	
	
