.container-sm{
  padding:0px;
}
#Header {
  min-width: 576px;
  width:auto;
  max-height: 100px;
  padding-top:10px;
  padding-bottom:10px;
  background-color: #2c3036;
  color:white;
align-items: center;
}
#MobileNavContainer{
  width:auto;
  max-height:50px;
  max-width:50px;
  width:50px;
  background-color: lightblue;
}
#LogoContainer{
  width:auto;

}
#mobileNavBar_icon{
max-width:30px;
}
#logo{
  width:75px;
}
