@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&display=swap");

:root {
    --color-light-grey: #ced2d6;
    --color-dark-blue: #23303e;
    --color-medium-blue: #283849;
    --color-light-blue: #e2e8ee;
    --color-very-dark-blue: #0d2f4f;
    --color-dark-gray: #1c2833;
    --color-button: #1f618d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-light-blue);
}

a:visited {
    text-decoration: none;
}

button:hover {
    transform: scale(0.98);
}

button:focus {
    transform: scale(0.96);
}

nav {
    overflow: hidden;
}

.btn {
    background-color: var(--color-button);
}

.navbar li {
    list-style-type: none;
}
.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar .link-sep {
    margin: 0 7px;
}

/* Header */
.header {
    height: 60px;
    background-color: var(--color-dark-gray);
    color: #fff;
}

.header a:visited {
    text-decoration: none;
    color: #fff;
}

.header img {
    height: 46px;
}

.header .logo a:hover {
    text-decoration: none;
    color: #fff;
}

.header .navbar-right {
    margin-top: 11px;
    float: right;
}

/*  Aisle Name */
.aisle-name {
    background-color: var(--color-medium-blue);
    height: 50px;
    color: white;
    font-size: 30px;
}

.aisle-name div {
    text-align: center;
    padding-top: 10px;
}

/* Subheader */
.subheader {
    background-color: var(--color-light-blue);
    height: 20px;
    font-size: 15px;
}

.subheader a {
    color: black;
    margin: 0;
}

.subheader a:hover {
    text-decoration: underline;
}

.subheader a:visited {
    color: black;
}

.subheader img {
    height: 26px;
    width: auto;
    margin-right: 4px;
}

/* Main */
.main {
    max-width: 90%;
    margin: auto;
}

.main a {
    color: white;
}

.main-product img {
    width: auto;
    max-height: 350px;
}

/* Footer */
.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-very-dark-blue);
}

.footer p {
    color: lightgrey;
    margin: 0 10px;
}

.footer a:hover {
    color: lightgrey;
}

.footer-item {
    align-self: center;
}

@media (max-width: 768px) {
    .subheader {
        height: 100px;
    }

    .subheader .navbar-left {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-left .link-sep {
        color: transparent;
        height: 3px;
    }
}
