@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
    --color-dark-blue: #133d58;
    --color-medium-blue: #516e8c;
    --color-light-blue: #e2e8ee;
    --color-very-dark-blue: #0d2f4f;

    --color-dark-gray: #343c45;
    --color-medium-gray: #51585f;
    --color-light-gray: #e2e3e4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--color-light-gray);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:visited {
    text-decoration: none;
}

nav {
    overflow: hidden;
}

.main,
.product-page,
.user-list,
.edit-product {
    flex: 1;
}

.btn {
    background-color: var(--color-button);
    color: white;
}

.btn:hover {
    transform: scale(0.96);
    color: #fff;
}

.btn-red {
    background-color: #c0392b;
}

.btn-yellow {
    background-color: #d4ac0d;
}

.btn-blue {
    background-color: #2471a3;
}

.navbar li {
    list-style-type: none;
}
.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

.navbar .link-sep {
    margin: 0 7px;
}

.card {
    border: 1px darkgrey solid;
    border-radius: 8px;
}

.card p,
.card h1 {
    color: #7b7d7d;
}

.w-30 {
    width: 30%;
}

/* Header */
.header {
    height: 60px;
    background-color: var(--color-dark-gray);
    color: #fff;
}

.header a {
    color: #fff;
}

.header a:visited {
    text-decoration: none;
    color: #fff;
}

.header img {
    height: 46px;
}

.header .logo a:hover {
    text-decoration: none;
    color: #fff;
}

.header .navbar-right {
    margin-top: 11px;
    float: right;
}

/*  Page Name */
.page-name {
    background-color: var(--color-medium-gray);
    height: 50px;
    color: white;
    font-size: 30px;
}

.page-name div {
    text-align: center;
    margin: auto;
}

/* Subheader */
.subheader {
    background-color: var(--color-light-gray);
    height: 20px;
    font-size: 15px;
}

.subheader a {
    color: black;
    margin: 0;
}

.subheader a:hover {
    text-decoration: underline;
}

.subheader a:visited {
    color: black;
}

.subheader img {
    height: 26px;
    width: auto;
    margin-right: 4px;
}

/* Main */
.main {
    max-width: 80%;
    margin: auto;
}

.main img {
    margin-bottom: 10px;
}

.main .card p,
.main .card h1 {
    color: #7b7d7d;
}

.main .card h1 {
    font-size: 18px;
    margin: 0;
}

.main .card p {
    font-size: 15px;
}

/* Product Page */
.product-page .card {
    width: 80%;
    margin: auto;
}

.product-page img {
    height: 300px;
    width: auto;
    margin-right: 15px;
}

.product-page .card h1 {
    font-size: 30px;
}

.product-page .card-body {
    display: flex;
    flex-direction: row;
}

.product-page .card-body .product-right-side {
    margin: 0 auto;
}

/* User List */
.user-list {
    width: 80%;
    margin: 50px auto;
}

.user-list .table-bordered,
.user-list .table-bordered > thead > tr > th,
.user-list .table-bordered > tbody > tr > td {
    border: 1px solid var(--color-medium-gray);
}

.user-list table .btn-col {
    width: 20%;
}

table .btn-cell {
    text-align: center;
}

/* Edit Product */
.edit-product {
    width: 40%;
    margin: 50px auto;
}

.edit-product form {
    display: flex;
    flex-direction: column;
}

.edit-product label {
    font-size: 30px;
    display: block;
}

.edit-product input {
    width: 100%;
}

.edit-product input[type="text"] {
    height: 30px;
}

.edit-product textarea {
    height: 100px;
}

.edit-product .btn-edit {
    width: 30%;
}

/* Footer */
.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.footer p {
    color: lightgrey;
    margin: 0 10px;
}

.footer a:hover {
    color: lightgrey;
}

.footer-item {
    align-self: center;
}

@media (max-width: 1100px) {
    .subheader {
        height: 150px;
    }

    .subheader .navbar-left {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-left .link-sep {
        color: transparent;
        height: 3px;
    }

    .product-page .card-body {
        display: flex;
        flex-direction: column;
    }

    .edit-product {
        width: 80%;
        margin: 50px auto;
    }

    .edit-product .btn-yellow {
        width: 40%;
    }
}

@media (max-width: 830px) {
    .subheader {
        height: 150px;
    }

    .subheader .navbar-left {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-left .link-sep {
        color: transparent;
        height: 3px;
    }

    .product-page .card-body {
        display: flex;
        flex-direction: column;
    }

    .edit-product {
        width: 80%;
        margin: 50px auto;
    }

    .edit-product .btn-yellow {
        width: 40%;
    }
}

@media (max-width: 500px) {
    .user-list .btn-cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
