body{

  background-color: #6c757d
}

.navbar{

padding: 20px;
margin-bottom: -16px;

}

.navbar-nav{

}

.navbar .nav-item .nav-link {
    color: white;
}

.navbar .nav-item {
    font-size: 1.3rem;
}

.signupBox{

  padding: 20px;
  background-color: white;
  text-align: center;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
